{% extends 'smokeShop/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  Shopping Cart
{% endblock %}

{% block content %}
  <!-- cart -->
  <div class="container shopping-cart">
    <h3>Shopping Cart</h3>
  </div>
  <div class="small-container cart-page">
    <table>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
      {% for item in cart %}
        <tr>
          <td>
            <div class="cart-info">
              <img src="{{ item.product.image.url }}">
              <div>
                <p>{{ item.product.name }}</p>
                <small>Price: ${{ item.product.price }}</small>
                <br>
                <a href="{% url 'remove_from_cart' item.product.id %}">Remove</a>
              </div>
            </div>
          </td>
          <td><input type="number" value="{{ item.quantity }}"></td>
          <td>${{ item.product.price }}</td>
        </tr>
      {% endfor %}

    </table>
  </div>

  <!-- cart -->
{% endblock %} 