{% extends 'smokeShop/base.html' %}
{% load static %}

{% block title %}
  Home Page
{% endblock %}


{% block content %}
  
    </div>
        <div class="container">  
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                  <img src="https://www.elementvape.com/media/slideshow/cache/1380x569/homepage_banners/Voopoo_Drag_4_Front_Page_Banner.jpg" alt="Los Angeles" style="width:100%;">
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>
        </div>
        <div class="featured-brand">
        <h2>FEATURED BRANDS</h2>
        </div>
        <div class="shop-by-brands">
        <div class="container">
            <div class="row">
            <div class="col-md-3">
                <img src="https://www.elementvape.com/media//amasty/shopby/option_images/slider/Finest_Black_Transparent.png" alt="Element Vape">
            </div>
            <div class="col-md-3">
                <img src="https://www.elementvape.com/media//amasty/shopby/option_images/slider/geek_vape_logo.jpg" alt="VooPoo">
            </div>
            <div class="col-md-3">
                <img src="https://www.elementvape.com/media//amasty/shopby/option_images/slider/Uwell_Black_Transparent.png" alt="Geek Vape">
            </div>
            <div class="col-md-3">
                <img src="https://www.elementvape.com/media//amasty/shopby/option_images/slider/Vaporesso_1.png" alt="Innokin">
            </div>
            <div class="col-md-3">
                <img src="https://www.elementvape.com/media//amasty/shopby/option_images/slider/naked_100.jpg" alt="Innokin">
            </div>
            <div class="col-md-3">
                <img src="https://www.elementvape.com/media//amasty/shopby/option_images/slider/Vapetasia_color_200x200_.png" alt="Innokin">
            </div>
            <div class="col-md-3">
                <img src="https://cdn.shopify.com/s/files/1/0070/8286/8772/files/Group_25_603bd486-c12e-4d3e-9e0d-3d4ec7143b9a.png?v=1653606346" alt="Innokin">
            </div>
            <div class="col-md-3">
                <img src="https://cdn.shopify.com/s/files/1/0070/8286/8772/files/vaporlax-salts-logo_1_4a167dd5-b83b-46cd-9405-26af0b028a07.png?v=1653606346" alt="Innokin">
            </div>
            <div class="col-md-3">
                <img src="https://cdn.shopify.com/s/files/1/0070/8286/8772/files/Cloud-nerdz-footer-logo_1_105d4d98-6237-47fb-83c1-16758bd2f8e2.png?v=1653606346" alt="Innokin">
            </div>
            <div class="col-md-3">
                <img src="https://www.elementvape.com/media//amasty/shopby/option_images/slider/slider_l_o_lost_vape.jpg" alt="Innokin">
            </div>
            <div class="col-md-3">
                <img src="https://www.elementvape.com/media//amasty/shopby/option_images/slider/suorin_transparent.jpg" alt="Innokin">
            </div>
            <div class="col-md-3">
                <img src="https://www.elementvape.com/media//amasty/shopby/option_images/slider/TWIST_color_200x200_.png" alt="Innokin">
            </div>
            </div>

        </div>

    </div>
    <script defer>
       
        const Confirm = {
        open(options) {
            options = Object.assign({}, {
            }, options);

            const html = `
            <div class="confirm">
            <div class="confirm__window">
                <div class="confirm__titlebar">
                <span class="confirm__title">${options.title}</span>
                </div>
                <div class="confirm__content">${options.message}<div class="confirm__button">
                    <button class="confirm__button confirm__button--ok confirm__button--fill">${options.okText}</button>
                    <button class="confirm__button confirm__button--cancel">${options.cancelText}</button>
                </div>
                </div>
            </div>
            </div>
            `;
            const template = document.createElement('template');
            template.innerHTML = html;
            
            
            const confirmElement = template.content.querySelector('.confirm');
            const okButton = template.content.querySelector('.confirm__button--ok');
            const cancelButton = template.content.querySelector('.confirm__button--cancel');


            okButton.addEventListener('click', () => {
            options.onOk();
            this._close(confirmElement);
            });

            cancelButton.addEventListener('click', () => {
            options.onCancel();
            this._close(confirmElement);
            });

            
            document.body.appendChild(template.content);

        },

        };
        Confirm.open({
            title: 'AGE VERIFICATION',
            message: 'These are age-restricted products and intended for adults of legal smoking age only. By entering our website, you affirm that you are of legal smoking age in your jurisdiction.',
            okText: 'Yes, I am 21+ years old',
            cancelText: 'Cancel',
            onOk: function() {
            window.location.href = 'http://127.0.0.1:8000/home/'
            },
            onCancel: function() {
            window.location.href = 'https://www.google.com/'
            }
        })
    </script>

{% endblock %}  
