{% extends 'smokeShop/base.html' %} 
{% load static %}


{% block title %} 
Product Detail
{% endblock %} 

{% block content %}
<div class="product-detail-image">
  <img  src="{{ product.image }}" alt="" />
</div>
<div class="container-fluid">
  <div class="productDisplay">
    <h3>{{ product.title }}</h3>
    <p >Price: {{ product.price }}</p>
    <p>Qty: <input style="width: 50px" type="number" min="1"></p>
    <form action="{% url 'add_to_cart' product.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-dark">Add to Cart</button>
      </form>
  </div>
</div
    
{% endblock %}